*{
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    background-color:  #191911;
}
img{width:100%;}
li{list-style-type: none;}
button{ cursor: pointer;   }
.d-flex{
    display: flex;
    flex-wrap: wrap;
}
.align-item-center{align-items: baseline;}
.container{
    width:100%;
    padding:0px 50px;
}
.row{
    width:100%;
    /* background-color:red; */
    display:flex;
    flex-wrap: wrap;
    padding:0px 20px;
}
.section1{
    width:5%;
    /* background-color:green; */
    padding:20px 0px;
}
.logo img {width:100%;}
.section2{
    width:70%;
    /* background-color:pink; */
    display:flex;
    padding:15px;
}
.nav-bar{
    display:flex;
    font-size:18px;
    width:95%;
}
.nav-bar ul{
    padding:0px;
    width: 100%;
}
.boder-left{
    border-left: 2px solid #ffffff66;
}
.nav-bar a{
    text-decoration:none;
    color:rgb(236, 232, 232);
    font-weight:600;
    font-size:16px;
    padding:0px 14px;
}
.section3{
    width:25%;
    padding:0px 10px;
    /* background-color:#1A98ff; */
    display: flex;
    align-items:baseline;
    justify-content: space-evenly;
    padding:15px;
}
.search-btn{
    padding:0px 10px;
    display: flex;
    align-items:center;
}
.search-btn button{
    width:30px;
    height:30px;
    color:rgb(207, 207, 224);
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.5s;
}
.btn button:hover{
    background-color:#ffffff;
    color:black;
}
.pro{
    text-decoration: none;
    background-color: transparent;
    border:none;
    width:100%;
}
.btn-lang{
    width:55px;
    margin:6px 10px 0px 0px;
    text-align: center;
    line-height: center;
    
}
.btn-lang button{
    font-size:12px;
    color:#ffffff;
    transition: all 0.5s;  
    border-radius: 5px;  
    padding:6px 12px;
}
.btn-lang button:hover{
    color: black;
    background-color:#ffffff;
    transform: scale(1.1,1.1);
}
.grid button{
    color:white;
    font-size:16px;
    padding:10px 20px;
}
.img-login {
  width: 100%;
  border-radius: 50%; 
  padding:10px 10px;
  font-size:20px;
  color:#ffffff;
}
.img-login:hover{
    box-shadow:3px 3px 4px 1px white;
}
.join-btn-wrapper {
  display: flex;
  align-items: center;      
  margin: 6px 10px 0px 0px; 
}
.join-btn {
  width: 120px;
  padding: 8px 16px;
  background-color: #1A98ff;
  color: white;
  font-size: 14px;
  font-weight: 700;       
  border-radius: 6px;
  border: none;                  
  transition: all 0.2s;
}
.join-btn:hover {
  box-shadow:0 -4px 28px 0 rgb(26, 152, 255);
  color: white;
  background-color: rgba(26, 152, 255 1);
}